

        <aside class="col-lg-12 d-none d-lg-block">
            <span  class="badge badge-dark align-middle col-12"><h4>Categorias</h4></span>
            <div class="list-group">
              <button type="button" routerLinkActive="active" (click)="buscarCategoria('cartelera')" class="list-group-item btn btn-outline-primary">Cartelera</button>  
              <button type="button" routerLinkActive="active" (click)="buscarCategoria('drama')" class="list-group-item btn btn-outline-primary">Drama</button>  
              <button type="button" routerLinkActive="active" (click)="buscarCategoria('ficcion')" class="list-group-item btn btn-outline-primary">Ficción</button>  
              <button type="button" routerLinkActive="active" (click)="buscarCategoria('terror')" class="list-group-item btn btn-outline-primary">Terror</button>  
              <button type="button" routerLinkActive="active" (click)="buscarCategoria('infantiles')" class="list-group-item btn btn-outline-primary">Animaciones</button>  
            
            </div>
            <br>
    
          </aside>

  
  
